{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  {% block head %}
  {% endblock head %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amaranth&family=Balsamiq+Sans:wght@700&family=Berkshire+Swash&display=swap" rel="stylesheet">
  <style>
  .navbar{
    font-family: 'Balsamiq Sans', cursive;
    background-color:#f9f9f9;
    
  }
  .navbar .nav-item .nav-link, .navbar-brand a {
    color:#fa6c87;
  }
    .footer{
    min-height:30vh;
    background-color:#FF5877;
  }
  .footer a {
    color:white;
  }
  .footer a:hover{
    text-decoration:none;
    font-weight:600;
  }
  {% block style %}
  {% endblock style %}
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
    <a class="navbar-brand" href="#" style="font-family: 'Oswald', sans-serif; font-size:180%;">
       <img src="{% static 'media/ibeauty_logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">&nbsp;
       <span style="color:#FF5877">iBEAUTY</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item" >
          <a class="nav-link"  href="/">Home  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop"><i class="fas fa-shopping-bag"></i>&nbsp;Store </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#footer">Contact </a>
        </li>
        
        {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link btn" style="color:white;background-color:#fa6c87;" href="/shop/post-item">Add Product</a>
          </li>
        {% endif %}
      </ul>
    </div>
    </div>
  </nav>
<div class="container-fluid">
      {% block body %}
      {% endblock body %}
      <div class="row footer" id="footer" style="color:white">
        <div class="container">
          <div class="row" style="padding:5%;">
            <div class="col-sm-12 col-md-4">
              <h1 class="display-4">Contacts</h1>
            </div>
            <div class="col-sm-12 col-md-4" style="border-right:1px white solid;margin-bottom:3%;">
              <div class="lead font-weight-bold">Social</div><br>
              <a href='https://www.facebook.com/iBeautyOS/'><i class="fab fa-facebook"></i> iBeauty Online Shop <br></a>
              <a href="tel:09886667838"><i class="fas fa-phone"></i> 09 886 667838 </a>  
            </div>
            <div class="col-sm-12 col-md-4" style="border-right:1px white solid;margin-bottom:3%;">
              <div class="lead font-weight-bold">Location</div><br>
              <i class="fas fa-map-marker-alt"></i> Yangon <br>
              <i class="fas fa-map-marker-alt"></i> Kyaing Tone
            </div>
          </div>
        </div>
      </div>
</div>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/fontawsome.js' %}"></script>
    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/wave.js' %}"></script>
    <script src="{% static 'js/showdown.js' %}"></script>
    <script>
    var converter = new showdown.Converter();
    descriptions = document.getElementsByClassName("modal-body")
    for (i = 0; i < descriptions.length; i++) {
      descriptions[i].innerHTML=converter.makeHtml(descriptions[i].innerHTML)
    }
    </script>
    {% block script %}
    {% endblock script %}
</body>
</html>